.navbar-nav {
    --bs-nav-link-color: white!important;
}


/* custom */
.pjsk-navbar {
    overflow: hidden;
    bottom: 0;
    height: 80px;
    box-shadow: 0px 0px 8px 0px rgba(68, 68, 102, 0.5);
    background: rgba(68, 68, 102, 0.5)!important;
}

.pjsk-navbar .pjsk-container {
    justify-content: right!important;
    
}

.pjsk-navbar .pjsk-itemlink {
    color: white!important;
}